### Job Posting Problem
Given tables with information on job postings, create a Job level report of the Job, the Number of Total Views, Number of Unique Viewers, and Number of Unique job applicants.  One row per job.

In [1]:
# import modules
import pandas as pd
import numpy as np

In [5]:
# create Table DataFrames
fact_job_view = pd.DataFrame({'JOB': ['A','A','A','B','B','C'],
                              'MEMBER_ID': ['1','1','2','3','4','1'],
                              'TIMESTAMP': ['1/1/2016','1/3/2016','2/10/2016','1/5/2016','1/5/2016','1/5/2016']})

fact_job_applications = pd.DataFrame({'JOB': ['A','A','A','A','B'],
                                      'MEMBER_ID': ['1','2','2','5','4'],
                                      'TIMESTAMP': ['1/2/2016','2/1/2016','2/2/2016','2/5/2016','1/5/2016']})

print "Fact Job View Table"
print fact_job_view
print ""
print "Fact Job Applications Table"

print fact_job_applications

Fact Job View Table
  JOB MEMBER_ID  TIMESTAMP
0   A         1   1/1/2016
1   A         1   1/3/2016
2   A         2  2/10/2016
3   B         3   1/5/2016
4   B         4   1/5/2016
5   C         1   1/5/2016

Fact Job Applications Table
  JOB MEMBER_ID TIMESTAMP
0   A         1  1/2/2016
1   A         2  2/1/2016
2   A         2  2/2/2016
3   A         5  2/5/2016
4   B         4  1/5/2016

In [6]:
# Return Job, the # of Views, # of Unique Viewers from Fact Job View Table
fact_job_view_feats = fact_job_view.groupby('JOB', as_index=False)['MEMBER_ID'].aggregate({'total_unique_views':'nunique', 'total_views':'count'})
fact_job_view_feats

  JOB  total_views  total_unique_views
0   A            3                   2
1   B            2                   2
2   C            1                   1

In [7]:
# Return # of Unique Applicants from Fact Job Applications Table
fact_job_app_feats = fact_job_applications.groupby('JOB', as_index=False)['MEMBER_ID'].aggregate({'unique_applicants':'nunique'})
fact_job_app_feats

  JOB  unique_applicants
0   A                  3
1   B                  1

In [8]:
# Combine the two tables using a left join
job_level_report = pd.merge(fact_job_view_feats, fact_job_app_feats, how='left', on="JOB").fillna(0)
job_level_report

  JOB  total_views  total_unique_views  unique_applicants
0   A            3                   2                3.0
1   B            2                   2                1.0
2   C            1                   1                0.0